/* Css for the layout for all the pages the base page */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1d762c;
    color: white;
    margin-top:0px;
    padding:10px;
    text-align: center;
    font-size: 30px;
    font-family:monospace
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover{ 
        color: #005fa3;

}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #eee;
    color: #555;
}

/* Css for the search page  */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

form button:hover {
    background-color: #005fa3;
}

/* the CSS for the detail page  */
.card-title{ 
  margin: 2px;    
  font-size: 40px;  
  color: #133776;         
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.card-text {
  margin: 2px 0;    
  font-size: 14px;  
  color: #333;         
  word-wrap: break-word;
  text-align: center;
}

.card-body h2 {
    margin-bottom: 10px;
    color: #bbc5ba;
}

.card-body p {
    margin-bottom: 8px;
    line-height: 1.5;
}

/* Css for the tables  */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #7b9781;
    color: white;
}

table tr:hover {
    background-color: #91b594;
}

